// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$headings-margin-bottom: 0;
$input-group-addon-bg: white;
$card-cap-bg: white;
$offcanvas-horizontal-width: 250px;
