// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.table{
    margin: 0 !important;
}
td{
    background-color: unset !important;
    color: unset !important;
}
